<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>
            Confirmation Page
        </title>
    </head>
    <body>
        <form method="POST" action="{% url 'homepage:index' %}">
            {% csrf_token %}
            {{confirm_form}}
            <p>
                Are you sure you want to post this status?
            </p>
            <input type="submit" value="YES">
            <input type="submit" value="NO" formaction="{% url 'homepage: index' %}">
        </form>
    </body>
</html>