<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        Story 7 Ano
    </head>

    <body>
        <form method="POST" action="{%url 'homepage:confirmation' %}">
            {% csrf_token %}
            {{status_form}}
            <input type="submit" value="Post Status" id="submit">
        </form>


        <div>
            <ul>
                {% for status in statuses %}
                <li>
                    <h3>
                        {{status.name}}
                    </h3>
                    <p>
                        {{status.message}}
                    </p>
                </li>
                {% endfor}
            </ul>
        </div>
    </body>




</html>